

{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}Events{% endblock %}</title>
  <link rel="stylesheet" href="{% static 'css/base.css' %}">
  <link rel="stylesheet" href="{% static 'css/password-form.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  {% block extra_css %}{% endblock %}
  {%block extra_js%}{% endblock %}
</head>
<body>

  <nav class="navbar">
    <div class="container">
      <a href="{% url 'dashboard' %}" class="logo">Freebie!</a>
      <ul>
        {% if user.is_authenticated %}
        <li>
          <a href="{% url 'user_profile' user.username %}" class="profile-link">
            {% if user.userprofile.image and user.userprofile.image.name %}
              <img src="{{ user.userprofile.image.url }}" alt="{{ user.username }}" class="profile-picture">
            {% else %}
              <img src="{% static 'default-profile.png' %}" alt="{{ user.username }}" class="profile-picture">
            {% endif %}
          </a>
        </li>
        {% endif %}
        <li class = "username">Hello, {{ user.username | default:"Guest" }}!</li>
        <li><a href="{% url 'dashboard' %}">Dashboard</a></li>
        <li><a href="{% url 'search' %}">Search</a></li>
        {% if user.is_authenticated %}
          <li><a href="{% url 'create_post' %}">Create post</a>
        {% endif %}
        <li>
            {% if user.is_authenticated %}
            <div class ="authentication-links">
              {% include "registration/_logout.html" %}
            </div>
            {% else %}
                <a href="{% url 'login' %}">Login</a></li>
                <li><a href="{% url 'sign_up' %}">Sign up</a>
            {% endif %}
        </li>
      </ul>
    </div>
  </nav>


  <div class = "container">
    {% block content %}{% endblock %}
  </div>
   

  <footer>
    © {{ now|date:"Y" }} Freebie. All rights reserved.
  </footer>

</body>
</html>
