{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>{% block title %}Events{% endblock %}</title>
  <link rel="stylesheet" href="{% static 'css/base.css' %}">
  <link rel="stylesheet" href="{% static 'css/password-form.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css"
    integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  {% block extra_css %}{% endblock %}
  {%block extra_js%}{% endblock %}
</head>

<body>

  <nav class="navbar">
    <div class="container">
      <a href="{% url 'dashboard' %}" class="logo">Freebie!</a>
      <ul>
        <li class="username">Hello, {{ user.username | default:"Guest" }}!</li>
        <li><a href="{% url 'dashboard' %}">Dashboard</a></li>
        <li><a href="{% url 'search' %}">Search</a></li>
        <li>
          <div class="profile-container">
            <div class="profile-icon">
              {%if user.is_authenticated%}
              <a href="{% url 'user_profile' user.username %}">
                {%else%}
                <a href="{% url 'login' %}">
                  {%endif%}
                  {%if user.userprofile.image%}
                  <img src="{{user.userprofile.image.url}} " alt="user profile image">
                  {%else%}
                  <img src="https://t4.ftcdn.net/jpg/14/91/44/67/360_F_1491446725_6cWHMTUqYOoQqt2iAFrZWXOEUHYOkwWd.jpg"
                    alt="user profile image">
                  {%endif%}

                </a>
            </div>
            <div class="hidden-profile-options">
              {% if user.is_authenticated %}
              <button style="width:100%"><a href="{% url  'user_profile' user.username %}" style="display:block;width:100%;height:100%;">View Profile</a></button>
              <form method="post" action="{% url 'logout' %}" class="logout-form" style="width:100%;margin:0;padding:0;">
                {% csrf_token %}
                <input type="submit" value="Logout" />
                <input type="hidden" name="next" value="{% url 'dashboard' %}" />
              </form>
              {%else%}
              <button style="width:100%"><a href="{% url 'login' %}" style="display:block;width:100%;height:100%;">Login</a></button>
              <button style="width:100%"><a href="{% url 'sign_up' %}" style="display:block;width:100%;height:100%;">Sign Up</a></button>
              {% endif %}
            </div>
          </div>
        </li>
      </ul>



    </div>
  </nav>


  <div class="container">
    {% block content %}{% endblock %}
  </div>


  <footer>
    © {{ now|date:"Y" }} Freebie. All rights reserved.
  </footer>

</body>

</html>