{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/password-form.css' %}">
{% endblock extra_css %}

{% block content %}
    <h2>Send Password Reset Link</h2>
    <form method="post" class="password-change-form">
        {% csrf_token %}
        <div>
            <label for="id_email"><span style="color: red">*</span>Email:</label>
            {{ form.email }}
        </div>
        <input type="submit" value="Send Reset Link" />
    </form>

<script>
    document.addEventListener("DOMContentLoaded", () => {
    const email = document.getElementById("id_email");

    if (email) email.placeholder = "Enter your account email";
});
</script>
{% endblock content %}