{% extends "base.html" %}
{% load static %}

{% block title %}Freebie - Post{% endblock title %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/posts.css' %}">
{% endblock extra_css %}


{% block content %}
<div class = "post-container">
    <div class = "image-container">
        <!-- replace image source with {{post.image.url}} -->
        {% for image in post.images.all %}
            <img class="image" src="{{ image.image.url }}" alt="{{ image.caption|default:'Post image' }}">
        {% endfor %}
    </div>
    <div class = "post-info">
        <div class = "user-container">
            <div class = "profile">
                <div class = "profile-image-container">
                    <img class = "image" src = "{{profile.image.url}}" alt = "user-image"/>
                </div>
                <div class = "username">
                    {{post_user.username}}
                </div>
            </div>
            <form class="follow-button-container" action="{% url 'posts' id=post.id %}" method="POST">
                {% csrf_token %}
                {% if user.userprofile in post_user.userprofile.followers.all %}
                    <button type="submit" name="follow" value="unfollow">Unfollow</button>
                {% else %}
                    <button type="submit" name="follow" value="follow">Follow</button>
                {% endif %}
            </form>
        </div>
        <div class = "description-container">
            {{post.description}}
        </div>
        <div class = "interactions">
            <div id="like-button">
                <div id="icon">
                    <i class="fa-solid fa-thumbs-up"></i>
                </div>
                {{ post.like_count|default:0 }}
            </div>
            <!-- <p>Like count goes here</p> -->
            <div class = "attending-container">
                <button class = "attending-button">I'm going!</button> 
                {{ post.like_count|default:0 }}
            </div>
            
            <!-- <p>attending count goes here</p> -->
        </div>
        <div class = "comment-container">
            <button class = "comment-button">Comment</button>
        </div>
        <div class = "other-info">
            {{post.location}}
            {{post.start_time}}
        </div>
    </div>
    
</div>

{% endblock content %}

{% block extra_js %}
{% endblock extra_js %}
